<nav class="navbar navbar-expand-lg navbar-light bg-gray color">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="inicio" routerLinkActive="active" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
          <li class="nav-item dropdown">
            <a class="navbar-brand" routerLink="galeria" routerLinkActive="active" href="#">Productos</a>
           
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="Escribe aqui lo que buscas" placeholder="escribe lo que buscas!!" aria-label="escribe aqui lo que buscas">
  
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
