<section class="container-fluid bg-light">
    <div class="row justify-content-around">
      <div class="container">
        <div class="row align-items-start">
          <div class="col-8 offset-2">
            <div id="carouselExampleDark" class="carousel carousel-dark slide p-5 my-5" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                  <img src="assets/accesorios.jpg" class="d-block w-100 ancho-img" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Encontra todo lo que necesitas en accesorios</h5>
                    <p>Auriculares bluetooth, fundas para celulares, tablets, etc.</p>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/celular4.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Celulares</h5>
                    <p> Motorola, Samsung, LG, Xiaomi y demás.</p>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/celular2.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block ">
                    <h5>Smarth Cel</h5>
                    <p>Cuentan con una memoria de 256GB, camara 108MP, camara frontal 40MP.</p>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/celular3.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Smarth Cel</h5>
                    <p>Cuenta con tamaño de pantalla 6.8, cantidad de colores 16M, tecnología de pantalla Dynamic AMOLED 2X .</p>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/tablet.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Smarth Tablets</h5>
                    <p class="color-fuente">Trabaja con tu tablet igual que con tu ordenador.</p>
                  </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/tablet2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Smarth Tablets.</h5>
                      <p>Alamacena en tu tablet todo lo de tu smartphone.</p>
                    </div>
              </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
    </div>
    </div>
    </div>
  </section>
  
