section{
    height:900px;
    background-color: rgb(249, 249, 255)!important; 
}
.carousel{
    height: 700px!important;
}

img{
    height: 700px!important;
    object-fit: contain;
    border-radius: 5px!important;
    
}
.color-fuente{
    color: rgb(134, 131, 131)!important;
}
.ancho-img{
    width: 120vh!important;
}
h5{
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: bold;
    color: #DA0037!important;
}
p{
    font-size: 1.2em;
    color:#000;
    font-weight: bold;
}
.carousel-item{
    border-radius: 5px;
    background-color:rgb(249, 249, 255)!important;
    
}
h5{
    margin-bottom: 20px;
}
p{
    margin-bottom: 60px;
}