<section class="contained-fluid bg-success color">
    <div class="row justify-content-around ancho">
        <div class="col-md-6 espacio-hero elemento my-md-3">
          <div class="card bg-dark text-white ">
              <img src= "assets/iniciofoto.jpg" class="card-img " alt="logo-hero">
              <div class="card-img-overlay">
                <h5 class="card-title">Shop Electronic</h5>
                <p class="card-text">¡¡CAMBIA TU CELU CON NUESTROS PRECIOS EXCLUSIVOS!!.</p>

              </div>
          </div>
      </div>
    </div>
</section>

